
.collection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    min-width: 100vh;
    background-color: #0000008f;
    overflow: hidden;
    box-shadow: 0 0 10px #000000;
}

.bestSeller{
    background-color: #dd8400;
    margin:15px 0px ;
    box-shadow:  0 0 10px #835003;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#bestSellerP1{
    font-size: xx-large;
    color:#ffffff;
    font-weight: 500;
    text-shadow: 0 0 6px #000000;
    margin-bottom: 0px;
}
#bestSellerP2{
    font-size: xxx-large;
    color:#000000;
    font-weight: 700;
    text-shadow: 0 0 6px #000000;
    letter-spacing: 6px;

}
.btn-primary{
    background-color: #ffffff;
    color: #000000;
    border-width: 3px;
    padding: 5px 40px;
    font-size: larger;
    font-weight: 500;
    border-color: #000000;
}
.btn-primary:hover{
    transition: 500ms;
    background-color: #160e01;
    box-shadow:0 0 10px #ffffff;
    font-size: x-large;
    color: #ffffff;
    font-weight: 700;
    border-color: #000000;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}



.category-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-title h6{
    color: #a46300;
    font-size: xx-large;
    margin: 20px;
}

.space-slider2marc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}
.card-slider-mar{
    margin: 0px 30px;
}

.card-slider-mar img{
    width: 190px;
    height: 270px;
    background-color: rgba(183, 119, 1, 0.492);
    border-radius: 10px;
}
.card-slider-mar img:hover{
    box-shadow:0 0 15px #a06b00;
}
.slick-prev:before, .slick-next:before{
    color: #160e01;
}
.slider2mar{
    max-width: 1000px;
    height: 300px;
  
  }